In [1]:
!cd '/content/drive/MyDrive/Colab Notebooks'

In [2]:
!apt-get install swig -y
!pip install Cpython numpy
!pip install auto-sklearn

Reading package lists... Done
Building dependency tree
Reading state information... Done
swig is already the newest version (3.0.12-1).
0 upgraded, 0 newly installed, 0 to remove and 15 not upgraded.
Requirement already satisfied: Cpython in /usr/local/lib/python3.6/dist-packages (0.0.6)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.4)
Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (from Cpython) (3.11.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from Cpython) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->Cpython) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->Cpython) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->Cpython) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->Cpython) (1.24.3)
Requirement already satisfied: auto-sklearn in /usr/local/lib/python3.6/dist-packages (0.12.0)
Requirement already satisfied: pyrfr<0.9,>=0.7 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (0.8.0)
Requirement already satisfied: scikit-learn<0.24,>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (0.23.2)
Requirement already satisfied: distributed>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (2020.12.0)
Requirement already satisfied: liac-arff in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (2.5.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (3.13)
Requirement already satisfied: smac<0.14,>=0.13.1 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (0.13.1)
Requirement already satisfied: dask in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (2020.12.0)
Requirement already satisfied: pynisher>=0.6.3 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (0.6.3)
Requirement already satisfied: ConfigSpace<0.5,>=0.4.14 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (0.4.16)
Requirement already satisfied: scipy>=0.14.1 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (1.4.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (1.1.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (51.0.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (1.19.4)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from auto-sklearn) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn<0.24,>=0.23.0->auto-sklearn) (2.1.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (2.3.0)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (5.1.1)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (1.6.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (7.1.2)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (1.0.1)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (5.4.8)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (0.11.1)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (1.7.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (2.0.0)
Requirement already satisfied: contextvars; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.2.0->auto-sklearn) (2.4)
Requirement already satisfied: lazy-import in /usr/local/lib/python3.6/dist-packages (from smac<0.14,>=0.13.1->auto-sklearn) (0.2.2)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.6/dist-packages (from pynisher>=0.6.3->auto-sklearn) (0.16)
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (from ConfigSpace<0.5,>=0.4.14->auto-sklearn) (0.29.21)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from ConfigSpace<0.5,>=0.4.14->auto-sklearn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->auto-sklearn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->auto-sklearn) (2018.9)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.2.0->auto-sklearn) (1.0.1)
Requirement already satisfied: immutables>=0.9 in /usr/local/lib/python3.6/dist-packages (from contextvars; python_version < "3.7"->distributed>=2.2.0->auto-sklearn) (0.14)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from lazy-import->smac<0.14,>=0.13.1->auto-sklearn) (1.15.0)

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
import autosklearn.classification

In [5]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanic_train.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [7]:
df.drop(["PassengerId", "Name", "Ticket"], axis=1, inplace=True)

In [9]:
df["Sex"] = df["Sex"].map({"male":1, "female":0})

df["Embarked"].fillna('S', inplace=True)

In [10]:
import random
ls = []
md = df["Age"].median()
mo = df["Age"].mode()
max = df["Age"].max()

a = int((max-mo)/2)
b = int((max+mo)/2)

for i in range(177):
  ls.append(random.randint(a,b))

df.loc[np.isnan(df['Age']), 'Age'] = ls
df['Age'] = df['Age'].astype(int)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.

In [11]:
df["Has_Cabin"] = df["Cabin"].apply(lambda x: 0 if type(x)==float else 1)
df.drop(["Cabin"], axis=1, inplace=True)
df

     Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked  Has_Cabin
0           0       3    1   22      1      0   7.2500        S          0
1           1       1    0   38      1      0  71.2833        C          1
2           1       3    0   26      0      0   7.9250        S          0
3           1       1    0   35      1      0  53.1000        S          1
4           0       3    1   35      0      0   8.0500        S          0
..        ...     ...  ...  ...    ...    ...      ...      ...        ...
886         0       2    1   27      0      0  13.0000        S          0
887         1       1    0   19      0      0  30.0000        S          1
888         0       3    0   50      1      2  23.4500        S          0
889         1       1    1   26      0      0  30.0000        C          1
890         0       3    1   32      0      0   7.7500        Q          0

[891 rows x 9 columns]

In [12]:
embarks = pd.get_dummies(df["Embarked"], prefix="Embarked", drop_first=True)
data = pd.concat([df, embarks], axis=1)
data.drop(["Embarked"], axis=1, inplace=True)
data

     Survived  Pclass  Sex  Age  ...     Fare  Has_Cabin  Embarked_Q  Embarked_S
0           0       3    1   22  ...   7.2500          0           0           1
1           1       1    0   38  ...  71.2833          1           0           0
2           1       3    0   26  ...   7.9250          0           0           1
3           1       1    0   35  ...  53.1000          1           0           1
4           0       3    1   35  ...   8.0500          0           0           1
..        ...     ...  ...  ...  ...      ...        ...         ...         ...
886         0       2    1   27  ...  13.0000          0           0           1
887         1       1    0   19  ...  30.0000          1           0           1
888         0       3    0   50  ...  23.4500          0           0           1
889         1       1    1   26  ...  30.0000          1           0           0
890         0       3    1   32  ...   7.7500          0           1           0

[891 rows x 10 columns]

In [13]:
x = data.drop(["Survived"], axis=1)
y = data["Survived"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=57)

In [15]:
automl = autosklearn.classification.AutoSklearnClassifier(
          time_left_for_this_task=120,
          per_run_time_limit=30,
          disable_evaluator_output=False,
          resampling_strategy='holdout',
          resampling_strategy_arguments={'train_size': 0.80}
          )

automl.fit(x_train, y_train, dataset_name='titanic_dataset')

y_hat = automl.predict(x_test)
test_acc = accuracy_score(y_test, y_hat)
print("Test Accuracy score: {0}".format(test_acc))

Test Accuracy score: 0.8324022346368715